
#reinventingText{
    text-decoration: underline;
    
}




#content {
    display:flex;
}
#content>p{
    flex: 1;
}
#titleText {

    display: flex;
}

#titleText>h1 {
    flex: 1;
}

.center {
    text-align: center;
}


html {
    font-size: 1em;
    background-color: beige;
}

h1 {
    font-size: 2rem;
}


*{
    box-sizing: border-box;
}
#navBar {
    padding-right: auto;
    flex:1;
    word-spacing: 2em;
    margin-left: auto;
    margin-right: auto;
    height:3em;
    display:flex;
    background-color:black;
    overflow:hidden;
}
#navBar a{
    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}



#navBar>a:link{
    text-decoration: none;

}

.content {
    padding: 16px;
  }
  

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  
  .sticky + .content {
    padding-top: 60px;
  }
@media (min-width: 1200px) {
    h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 80rem) {
    .container {
        margin: 1em 2em;
    }
}

img,
picture,
video {
    max-width: 100%;
}